/* - - - - - - - - - - - - - - - - - - - - - */
/* G e n e r a l */
body {
    align-items: center;
    background-color: #131016;
    color: #cfC9f0;
    display: flex;
    justify-content: center;
    font-family: 'Poppins-300';
    min-height: 100vh;
}

main.stage {
    align-items: center;
    /* background: transparent url(../images/bg-home.png) 
                no-repeat 
                center; */
    display: flex;
    height: 800px;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 390px;
}

main.stage section {
    align-items: center;
    display: flex;
    height: 800px;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 390px;
}
/* - - - - - - - - - - - - - - - - - - - - - */
/* M e n u   B u r g e r */
.menu-toggle {
    display: block;
    left: 156px;
    position: relative;
    top: 36px;
    user-select: none;
    z-index: 1;
    -webkit-user-select: none;
}
 
.menu-toggle a {
    transition: color 0.2s ease;
}
 
.menu-toggle input {
    display: block;
    cursor: pointer;
    height: 22px;
    left: -5px;
    opacity: 0;
    position: absolute;
    top: -7px;
    width: 30px;
    z-index: 2;
    -webkit-touch-callout: none;
}
 
.menu-toggle span {
    background: #cfc9f0;
    border-radius: 4px;
    display: block;
    height: 2px;
    margin-bottom: 4px;
    position: relative;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    width: 24px;
    z-index: 1;
}
 
.menu-toggle span:first-child {
    transform-origin: 0% 0%;
}

.menu-toggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}
 
.menu-toggle input:checked ~ span {
    background: #cfc9f0;
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
}
 
.menu-toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
 
.menu-toggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}
 
.menu-toggle input:checked ~ div {
    transform: translate(-340px, 0);
}
.menu-burger {
    height: 800px;
    position: absolute;
    top: -52px;
    width: 390px;
    background: #131016;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

main.stage .menu-burger h2 {
    color: #ffd90f;
    font-family: 'Poppins-300';
    font-weight: 300;
    font-style: normal;
    font-size: 32px;
    top: 34px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 88px;
}

main.stage .menu-burger nav.menu-options {
    background: transparent url(../images/bg-menu.png) 
                no-repeat 
                center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: absolute;
    padding-top: 60px;
    width: 371px;
    height: 370px;
    left: 50%;
    transform: translateX(-50%);
    top: 123px;
}

main.stage .menu-burger nav.menu-options a:is(:link, :visited, :focus) {
    align-items: center;
    color: #cfc9f0;
    font-family: 'Poppins-300';
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    display: flex;
    padding-left: 2rem;
    gap: 2rem;
    text-decoration: none;
    transition: transform 0.2s ease-in;
}

main.stage .menu-burger nav.menu-options a:is(:hover) {
    transform: scale(1.08);   
}

main.stage .menu-burger nav.menu-options a:is(.active) { 
    color: #ffd90f;
}
/* - - - - - - - - - - - - - - - - - - - - - */
/* S t a g e (1) */
main.stage.stage1 figure.profile img {
    height: 220px;
    left: 85px;
    position: absolute;
    top: 45px;
    width: 220px;
}

main.stage.stage1 h1 {
    color: #ffd90f;
    font-family: 'Poppins-400';
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    position: absolute;
    top: 290px;
    width: 285px;
}

main.stage.stage1 h2 {
    font-family: 'Poppins-300';
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    position: absolute;
    top: 328px;
    width: 236px;
}

main.stage.stage1 nav.nav-primary {
    align-items: center;
    display: flex;
    height: 80px;
    gap: 26px;
    position: absolute;
    justify-content: center;
    left: 102px;
    top: 389px;
    width: 187px;
}

main.stage.stage1 nav.nav-primary a:is(:link, :visited, :focus) {
    transition: transform 0.25s ease-in;
}

main.stage.stage1 nav.nav-primary a:is(:hover) {
    transform: scale(1.08);
}

main.stage.stage1 article.info-profile {
    align-items: center;
    background: transparent url(../images/bg-profile.png) 
                no-repeat 
                center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 184px;
    left: 10px;
    top: 494px;
    width: 371px;
}

main.stage.stage1 article.info-profile p {
    display: flex;
    font-family: 'Poppins-300';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    gap: 24px;
    width: 340px;
}

main.stage.stage1 footer.nav-secondary {
    display: flex;
    height: 80px;
    justify-content: space-between;
    left: 10px;
    position: absolute;
    top: 703px;
    width: 371px;
}

main.stage.stage1 footer.nav-secondary a:is(:link, :visited, :focus) {
    transition: transform 0.25s ease-in;
}

main.stage.stage1 footer.nav-secondary a:is(:hover) {
    transform: scale(1.08);
}
/* - - - - - - - - - - - - - - - - - - - - - */
/* S t a g e (2) */

main.stage.stage2 figure.icon-top img {
    height: 60px;
    left: 165px;
    position: absolute;
    top: 46px;
    width: 60px;
}

main.stage2  h2 {
    font-family: 'Poppins-300';
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    height: 36px;
    left: 137px;
    position: absolute;
    margin: 0;
    top: 106px;
    width: 118px;
}

main.stage2 div.skills {
    background: transparent url(../images/bg-skills.svg) 
                no-repeat 
                center;
    height: 380px;
    left: 10px;
    position: absolute;
    top: 164px;
    width: 371px;
}

main.stage2 div.skills h3 {
    display: flex;
    gap: 6px;
    position: absolute;
    left: 20px;
}

main.stage2 div.skills .skill {
    margin: 0 auto;
    margin-top: 38px;
    width: 330px;
    height: 40px;
    transition: transform 0.2s ease-in;
}

main.stage2 div.skills .skill:is(:hover) {
    transform: scale(1.08);
}

main.stage2 div.skills .skill:first-of-type {
    margin-top: 70px;
}

main.stage2 div.skills .skill p {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

main.stage2 div.skills .skill p span:first-of-type {
    font-family: 'Poppins-300';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}

main.stage2 div.skills .skill p span:last-of-type {
    font-family: 'Poppins-400';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

main.stage2 div.skills .skill progress {
    display: block;
    margin-top: 4px;
    border-radius: 20px; 
    width: 330px;
    height: 6px;
}
main.stage2 div.skills .skill progress::-webkit-progress-bar {
    background-color: #cfc9f0;
    border-radius: 20px;
}

main.stage2 div.skills .skill.skill1 progress::-webkit-progress-value {
    background-color: #a470f8;
    border-radius: 20px;
}

main.stage2 div.skills .skill.skill2 progress::-webkit-progress-value {
    background-color: #84dcc5;
    border-radius: 20px;
}

main.stage2 div.skills .skill.skill3 progress::-webkit-progress-value {
    background-color: #f4d547;
    border-radius: 20px;
}

main.stage2 div.skills .skill.skill4 progress::-webkit-progress-value {
    background-color: #f25f5c;
    border-radius: 20px;
}

main.stage2 h3.title-interests {
    display: flex;
    height: 30px;
    gap: 6px;
    left: 30px;
    position: absolute;
    top: 573px;
    width: 110px;
}

main.stage2 div.interests {
    position: absolute;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 634px;
    width: 371px;
}

main.stage2 div.interests .int-row {
    display: flex;
    justify-content: space-between;
}

main.stage2 div.interests .int-row img {
    transition: transform 0.2s ease-in;
}

main.stage2 div.interests .int-row img:is(:hover, :focus) {
    transform: scale(1.08);
}
/* - - - - - - - - - - - - - - - - - - - - - */
/* S t a g e (3) */
main.stage.stage3 figure.icon-top img {
    height: 60px;
    left: 165px;
    position: absolute;
    top: 46px;
    width: 60px;
}

main.stage3  h2 {
    font-family: 'Poppins-300';
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    height: 36px;
    left: 137px;
    position: absolute;
    margin: 0;
    top: 106px;
    width: 132px;
}

main.stage3 div.exp {
    align-items: center;
    background: transparent url(../images/bg-entrie.svg) 
                no-repeat 
                center;
    display: flex;
    height: 120px;
    gap: 20px;
    margin: 0 auto;
    margin-top: 20px;
    width: 371px;
}

main.stage3 div.exp:first-of-type {
    margin-top: 114px;
}

main.stage3 div.exp img {
    transition: transform 0.2s ease-in;
    margin-left: 20px;
}

main.stage3 div.exp:is(:hover, :focus) img  {
    transform: scale(1.08);
}

main.stage3 div.exp div h3 {
    font-family: 'Poppins-500';
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    margin-bottom: 12px;
}

main.stage3 div.exp div p {
    font-family: 'Poppins-300';
    font-weight: 300;
    font-size: 16px;
    margin: 0;
}